const menuToggle = document.querySelector('.menu-toggle');
const headerPill = document.querySelector('.header-pill');

if(menuToggle) {
    menuToggle.addEventListener('click', () => {
        headerPill.classList.toggle('active');
    });
}

document.querySelectorAll('.pill-nav a').forEach(link => {
    link.addEventListener('click', () => {
        headerPill.classList.remove('active');
    });
});

const desainList = [
  { img: "img/Waguri.png"},
  { img: "img/Dream Journey.png"},
  { img: "img/Tenka.png"},
];

const gallery = document.getElementById("desain-gallery");

if (gallery) {
    desainList.forEach((d, index) => {
        const item = document.createElement("div");
        item.className = "gallery-item";
        item.innerHTML = `<img src="${d.img}">`;
        gallery.appendChild(item);
    });
}
